client-ws/src/main/java/proxy/BanqueWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mohammedia.enset.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.mohammedia.enset.ma/" name="BanqueWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.mohammedia.enset.ma/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="ListComptes">
<part name="parameters" element="tns:ListComptes"/>
</message>
<message name="ListComptesResponse">
<part name="parameters" element="tns:ListComptesResponse"/>
</message>
<message name="Consulter">
<part name="parameters" element="tns:Consulter"/>
</message>
<message name="ConsulterResponse">
<part name="parameters" element="tns:ConsulterResponse"/>
</message>
<message name="ConversionEuroToDh">
<part name="parameters" element="tns:ConversionEuroToDh"/>
</message>
<message name="ConversionEuroToDhResponse">
<part name="parameters" element="tns:ConversionEuroToDhResponse"/>
</message>
<portType name="BanqueService">
<operation name="ListComptes">
<input wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ListComptesRequest" message="tns:ListComptes"/>
<output wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ListComptesResponse" message="tns:ListComptesResponse"/>
</operation>
<operation name="Consulter">
<input wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ConsulterRequest" message="tns:Consulter"/>
<output wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ConsulterResponse" message="tns:ConsulterResponse"/>
</operation>
<operation name="ConversionEuroToDh">
<input wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ConversionEuroToDhRequest" message="tns:ConversionEuroToDh"/>
<output wsam:Action="http://ws.mohammedia.enset.ma/BanqueService/ConversionEuroToDhResponse" message="tns:ConversionEuroToDhResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ListComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consulter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWs">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>